.App {
  text-align: center;
}
.signin {
  border: 3px solid black;
  background-color: red;
  color: gold;
}
.signin:hover {
  background-color: firebrick;
  border: 3px solid indigo;
  color: gold;
}
.signin:active {
  background-color: maroon;
  color: gold;
}
.signout {
  border: 3px solid red;
}
.signout:hover {
  border: 3px solid Maroon;
  color: maroon;
}
.signin:active {
  background-color: maroon;
  color: gold;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav {
  background-color: 505050;
  color: white;
}
.blk {
  background-color: black;
  color: white;
}
.blk:hover {
  color: gold;
  font-weight: bolder;
}
.active {
  background-color: maroon !important;
  color: gold;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
