.App {
  text-align: center;
}
.signin {
  border: 3px solid black;
  background-color: red;
  color: gold;
}
.signin:hover {
  background-color: firebrick;
  border: 3px solid indigo;
  color: gold;
}
.signin:active {
  background-color: maroon;
  color: white;
}
.signout {
  border: 3px solid red;
}
.signout:hover {
  border: 3px solid Maroon;
  color: maroon;
}
.signin:active {
  background-color: maroon;
  color: gold;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav {
  background-color: 505050;
  color: white;
}
.adminNav {
  background-color: rgb(26, 0, 0);
  color: gold;
}
.adminNav:hover {
  background-color: rgb(26, 0, 0);
  color: goldenrod;
}
.adminNav:active {
  background-color: red(26, 0, 0);
  color: gold;
}
.blk {
  background-color: black;
  color: gold;
}
.blk:hover {
  color: gold;
  background-color: black;
  font-weight: bolder;
}
.active {
  border-right: 3px solid maroon !important;
  border-left: 3px solid maroon !important;
  border-top: 3px solid maroon !important;
  color: maroon !important;
  background-color: white !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input[type="number"] {
  background-color: black;
  color: gold;
  -moz-appearance: textfield;
}
textarea {
  background-color: black;
  color: gold;
  -moz-appearance: textfield;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form-control {
  background-color: black;
  color: gold;
  -moz-appearance: textfield;
}
.form-control:active {
  background-color: black !important;
  color: gold !important;
}
.form-control:focus {
  background-color: black !important;
  color: gold !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
